
/* General Styles */ 

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

h1 {
    background-color: #799C8D;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    font-size: 40px;
    padding: 10px 0;
    text-align: center;
}

li {
    padding-bottom: 8px;
}

/* Header and Nav */

button {
    background-color: #79889C;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 30%;
}

.buttons-card {
    margin: 5px 0;
    text-align: center;
}

#main-title {
    background-color: #3d6098;
    color: whitesmoke;
    font-size: 48px;
    font-weight: bolder;
    padding: 28px;
    text-align: center;
    margin: -8px -8px 20px -8px;
}

/* Sitewide */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    background-color: #e7e7e7;
    margin: 0 auto;
    padding: 10px;
    width: 70%;
}

img {
    width: 400px;
    height: auto;
}

.link:hover {
    background-color: #213159;
    color: #e7e7e7;
    padding: 2px;
}

/* Recipe pages */


.recipe-intro {
    background-color: #F0F3EE;
    padding: 15px;
    text-align: justify;
}

.ingredients{
    background-color: #889C79;
    color: white;
    padding: 5px 15px;
}

.recipe-page {
    font-family: Arial, Helvetica, sans-serif;
}
    .recipe-page .content {
        background-color: white;
    }

.steps{
    background-color: #F0F3EE;
    padding: 5px 15px;
}


